<h1>Dados de Restaurante</h1>

<p>
	<b>ID: </b>
	<%= @restaurante.id %>
</p>

<p>
	<b>Nome: </b>
	<%= @restaurante.nome %>
</p>

<p>
	<b>Endereco: </b>
	<%= @restaurante.endereco %>
</p>

<p>
	<b>Especialidade: </b>
	<%= @restaurante.especialidade %>
</p>

<p>
	<%= link_to 'Voltar', action: 'index' %>
</p>

<p>
	<%= link_to 'Qualificar restaurante', controller: "qualificacoes", action: "new", restaurante: @restaurante %>
</p>


